<ion-view view-title="Call">
  <ion-content class="padding">
    <h2>Would you like to place a call? </h2>
    <h2>क्या आप कॉल करना चाहते हैं?</h2>
    <h4>
    To connect to our helpline please click the button below.
    </h4>
    <h4>
     हमारी हेल्पलाइन से जुड़ने के लिए कृपया नीचे दिए गए बटन पर क्लिक करें।
    </h4>
  <div class="padding">
    <button class='button button-assertive large_button'>
      <i class="icon ion-android-call"> </i>  Place call
      <a href="tel:6089603054"></a>
      </button>
    </div>
  </ion-content>
</ion-view>
